.main{
    padding: 20px;
    font-family: Arial;
    box-shadow: 5px 5px 7px 5px #8888;
}
.main h1{
    font-size: 36px;
    text-align: center;
    font-family: Arial;
}
input{
    font-family: Arial;
    width: 100%;
    font-size: 20px;
    padding: 12px;
    margin: 8px;
    border: none;
    border-bottom: 2px solid rgb(181, 202, 78);
}

input[type=submit]{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: rgb(79, 216, 212);
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;

}